.places {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.places div {
    display: flex;
    flex-direction: row;
}
.places div:nth-child(1) {
    text-align: start;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}
.places div:nth-child(3) article {
    border-bottom: 0px;
    border-top: 0px;
}
